.start-pane {
    -fx-background-color: black;
}

.title-label {
    -fx-font-size: 96px;
    -fx-text-fill: lightgrey;
    -fx-font-family: 'Who asks Satan';
}

.menu-button {
    -fx-text-fill: white;
    -fx-font-size: 32px;
    -fx-font-family: 'Times New Roman';
    -fx-background-color: black;
    -fx-border-color: red;
    -fx-border-width: 2px;
    -fx-padding: 10px 20px;
    -fx-cursor: hand;
}

.menu-button:hover {
    -fx-border-color: lightcoral;
}
