.start-pane {
    -fx-background-color: black;
    -fx-font-family: 'Who asks Satan';
}

.title-label {
    -fx-font-size: 128px;
    -fx-text-fill: maroon;
}

.menu-button {
    -fx-text-fill: white;
    -fx-font-size: 96px;
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.menu-button:hover {
    -fx-text-fill: maroon;
}
